<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->

  <div class="topnav">
      <a class="active" href="#about">About</a>
      <a href="/resume">Resume</a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
      <a href="/">Home</a>


    </div>
    
  <div class="page-header">
    <h1>About</h1>
  </div>

  <p id="header">
    Learn more about me!
  </p>

  <p>
      <br>
      My name is Neelie Shah and I am currently a freshman in college. I got to Rose-Hulman Institute of Technology and am 
      double majoring in Computer Science and Software Engineering. My interests in Computer Science first started around 
      7th grade when I went to my first Makers Fair and bought a programmable robot. Ever since then, I loved coding. From 
      being a part of the robotics team, signing up for summer programs, and taking programming classes, I did
      everything I could to learn more about it. 
      <br><br>
      Now that I'm in college, I'm enjoying leaning about cyber security and artificial intelligence; i'm even taking AI as 
      a class this spring quarter! As for right now, I am set up to intern at Direct Supply as a Software Engineering Intern 
      this summer but in the future, I hope to be able to eventually work in AI to create products to help serve mentally disabled
      children. Since high school, this has always been a cause that is near and dear to my heart.
      <br><br>
      Aside from my interests in CS, I am also an avid dancer. I have been classically trained in Kathak, an Indian dance, and 
      have been doing it for the past 10 years. I am also a Senator for the Student Government Association here at Rose Hulman, and I 
      am member of a sorority called ΧΩ (Chi Omega). At ΧΩ, I am the assistant community sevice director. 
      <br><br>
      Please visit my contact page to contact me and get to know me better!
      <br>
      <br>
      <br>
      <br>
 </p>
      

  

  <ul class="list-inline social-buttons">
  
    <li><a href="https://www.linkedin.com/in/neelie-shah-1464ba175/" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
  
    <li><a href="https://github.com/neelieshah" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
  
    <li><a href="https://instagram.com/neelieeeee" target="_blank"><i class="fa fa-instagram fa-fw"></i></a></li>
  
    <li><a href="mailto: shahnv@rose-hulman.edu" target="_blank"><i class="fa fa-envelope-o fa-fw"></i></a></li>
    
</ul>

</body>

</html>