<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->

  <div class="topnav">
      <a class="active" href="#contact">Contact</a>
      <a href="/resume">Resume</a>
      <a href="/projects">Projects</a>
      <a href="/about">About</a>
      <a href="/">Home</a>


    </div>
    
  <div class="page-header">
    <h1>Contact</h1>
  </div>


  <p>
      <br>
    All my social media links are down below when you click on the icons!
    <br>
    <br>
    Aside from that, my phone number is 425-223-2867. 
    <br>
    <br>
    My campus mailing address is 5500 Wabash Ave, Terre Haute, IN 47803 (CM 498).
    <br>
    <br>
    During school months, I will be in Indiana, in the Terre Haute area. Any other time, I will likely be back home in Cupertino, CA.
    <br>
    <br>
    <br>
    <br>

</p>
  

  <ul class="list-inline social-buttons">
  
    <li><a href="https://www.linkedin.com/in/neelie-shah-1464ba175/" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
  
    <li><a href="https://github.com/neelieshah" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
  
    <li><a href="https://instagram.com/neelieeeee" target="_blank"><i class="fa fa-instagram fa-fw"></i></a></li>
  
    <li><a href="mailto: shahnv@rose-hulman.edu" target="_blank"><i class="fa fa-envelope-o fa-fw"></i></a></li>
    
</ul>

</body>

</html>