<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->

  <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/resume">Resume</a>
      <a href="/contact">Contact</a>

    </div>
    
  <div class="page-header">
    <h1>Neelie Shah</h1>
  </div>

  <p id="header">
    Welcome to my Website!
    <br>
    <br>
  </p>

  <img class="img-circle" src="images/neelie.jpeg" />
  <p>
      <br>
 </p>

  <ul class="list-inline social-buttons">
  
    <li><a href="https://www.linkedin.com/in/neelie-shah-1464ba175/" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
  
    <li><a href="https://github.com/neelieshah" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
  
    <li><a href="https://instagram.com/neelieeeee" target="_blank"><i class="fa fa-instagram fa-fw"></i></a></li>
  
    <li><a href="mailto: shahnv@rose-hulman.edu" target="_blank"><i class="fa fa-envelope-o fa-fw"></i></a></li>
    
</ul>

</body>

</html>