<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->

  <div class="topnav">
      <a class="active" href="#projects">Projects</a>
      <a href="/about">About</a>
      <a href="/resume">Resume</a>
      <a href="/contact">Contact</a>
      <a href="/">Home</a>


    </div>
    
  <div class="page-header">
    <h1>Projects</h1>
  </div>

  <p id="header">
    Look at the things i've done!
    <br>
  </p>

  <p>
      Object Oriented Software Development Project | Fall Quarter
      <br>
      Created an arcade game using Java.
      <br><br>
      Map GPS Project | Winter Quarter
      <br>
      Creating a map through Dijkstra and A* searching algorithms.
      <br><br>
      Personal Website | Spring Quarter
      <br>
      Created a website for myself (you're on it right now!) using HTML and CSS.
      <br><br>
      Personal Website | Spring Quarter
      <br>
      Created a website for Mount Holyoke College’s Bhangra Team using HTML, CSS, and Javascript. Feel free to visit it here: .
      <br><br>
      
  </p>
  

  <ul class="list-inline social-buttons">
  
    <li><a href="https://www.linkedin.com/in/neelie-shah-1464ba175/" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
  
    <li><a href="https://github.com/neelieshah" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
  
    <li><a href="https://instagram.com/neelieeeee" target="_blank"><i class="fa fa-instagram fa-fw"></i></a></li>
  
    <li><a href="mailto: shahnv@rose-hulman.edu" target="_blank"><i class="fa fa-envelope-o fa-fw"></i></a></li>
    
</ul>

</body>

</html>